@font-face {
  font-family: "Verdana";
  src: url("https://s3-us-west-1.amazonaws.com/static-friendbuy-com/widget/jon-test/verdana_bold.otf")
    format("opentype");
  font-weight: 500;
}

@font-face {
  font-family: "Verdana";
  src: url("https://s3-us-west-1.amazonaws.com/static-friendbuy-com/widget/jon-test/Verdana.otf")
    format("opentype");
  font-weight: 400;
}

.cursor {
  cursor: pointer;
}

body {
  font-family: "Verdana";
}

.app {
  margin: 0 auto;
  border-bottom: 2px solid #ff7066;
}

.head {
  background-color: #ff7066;
  padding: 10px 4px;
  font-weight: 500;
  margin-bottom: 10px;
}

.head .settings {
  font-weight: 400;
}

.head .sort {
  cursor: pointer;
  font-weight: 400;
}

.head .sort.active {
  color: #fff;
}

.space {
  padding: 0 4px;
}

.loading {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.content {
  max-width: 1000px;
}

a {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.article {
  display: flex;
  flex-direction: row;
  margin-bottom: 10px;
}

.left {
  min-width: 40px;
}

.article .title > span {
  cursor: pointer;
}

.article .header .url {
  color: #828282;
  margin: 0 4px;
}

.right {
  margin-right: 25px;
}

.article .more-info {
  display: flex;
  flex-direction: row;
}

.article .text {
  margin-top: 10px;
}

.article .comment {
  margin-top: 10px;
}

.more {
  cursor: pointer;
  margin-left: 40px;
  margin-bottom: 10px;
}

.more-info > span {
  color: #828282;
  padding-right: 5px;
  font-size: 0.9em;
}

.comments-container {
  display: flex;
  flex-direction: row;
}

.comments-container .comment-space {
  cursor: pointer;
}

.comments-container .comment-space div {
  margin: 0 10px;
  min-width: 1px;
  background-color: #c3c3c3;
  cursor: pointer;
  height: 100%;
}
