.app {
  margin: 10px auto;
  border-bottom: 2px solid #ff7066;
}

.head {
  background-color: #ff7066;
  padding: 10px 4px;
}

.content {
}

a {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.article {
  display: flex;
  flex-direction: row;
  margin-bottom: 10px;
}

.left {
  width: 30px;
}

.article .header {
  display: flex;
  flex-direction: row;
  overflow: hidden;
  white-space: nowrap;
}

.article .header .url {
  color: #828282;
  margin: 0 4px;
}

.article .more-info {
  display: flex;
  flex-direction: row;
}

.article .points-by {
  padding: 0 4px;
}

.more {
  cursor: pointer;
  margin-left: 30px;
  margin-bottom: 10px;
}
