@font-face {
  font-family: "Verdana";
  src: url("https://s3-us-west-1.amazonaws.com/static-friendbuy-com/widget/jon-test/verdana_bold.otf")
    format("opentype");
  font-weight: 500;
}

@font-face {
  font-family: "Verdana";
  src: url("https://s3-us-west-1.amazonaws.com/static-friendbuy-com/widget/jon-test/Verdana.otf")
    format("opentype");
  font-weight: 400;
}

body {
  font-family: "Verdana";
}

.app {
  margin: 0 auto;
  border-bottom: 2px solid #ff7066;
}

.head {
  background-color: #ff7066;
  padding: 10px 4px;
  font-weight: 500;
  margin-bottom: 10px;
}

.head .sort {
  cursor: pointer;
  font-weight: 400;
}

.head .space {
  padding: 0 4px;
}

.content {
}

a {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.article {
  display: flex;
  flex-direction: row;
  margin-bottom: 10px;
}

.left {
  width: 40px;
}

.article .header {
  display: flex;
  flex-direction: row;
  overflow: hidden;
  white-space: nowrap;
}

.article .header .url {
  color: #828282;
  margin: 0 4px;
}

.article .more-info {
  display: flex;
  flex-direction: row;
}

.article .points-by {
  padding: 0 4px;
}

.more {
  cursor: pointer;
  margin-left: 40px;
  margin-bottom: 10px;
}
